.dropdown {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: gold;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: whitesmoke;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(170, 166, 166);
    padding: 16px;
}
