/* Style the list */
item.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
item {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
breadcrumb.item:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
breadcrumb.item a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
breadcrumb.item:hover {
  color: #01447e;
  text-decoration: underline;
}
